#workouts.at-home {
    padding-top: 0.5rem;
    & {
        background-image: url('/images/workouts/workouts.jpg');
        background-position: center center;
        background-size: 100% 100%;
    }
}

#workouts.main {
    padding-top: 5rem;
}

#workouts.main ::ng-deep .nav-tabs li a {
    color: var(--gray-100);
}
