
#workouts {
  & {
    background-image: url("/images/workouts/workouts.jpg");
    background-position: center center;
    background-size: 100% 100%;

  }

}



.meal-items .nav-tabs {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 15px;
  margin: 32px 0px;
  li a {
    font-family: var(--font-1);
    text-decoration: none;
    color: #242424;
    font-size: 18px;
    text-transform: capitalize;
    font-weight: 700;
    padding: 5px 10px;
    border-radius: 20px;
    cursor: pointer;
    transition: all 0.3s;
    &.active {
      background-color: var(--main-color);
      color: white;
    }
  }
}


