<section
    id="hero"
    [style.backgroundImage]="'url(./images/hero/bg-2.avif)'"
    class="flex-1 min-h-screen"
>
    <div class="hero-blur"></div>
    <div class="container">
        <div class="grid align-items-center">
            <div class="hero-caption col-12 lg:col-8">
                <app-header [containerClass]="'my-1 w-12 xl:w-7'">
                    {{'hero.header.part1' |translate}}
                    <span class="long-desc-span">{{'hero.header.part2' |translate}}</span>
                    {{'hero.header.part3' |translate}}
                </app-header>
                <p class="lg:w-8 w-12 mt-0 hero-desc">{{'hero.paragraph' |translate}}</p>

                <div class="statistics grid">
                    @for (st of statistics; track $index) {
                    <div class="md:col-4 col-12">
                        <div class="st-item">
                            <h4>{{st.num |translate}}+</h4>
                            <p class="m-0">{{st.desc |translate}}</p>
                        </div>
                    </div>
                    }
                </div>

                <div class="btns flex justify-content-center lg:justify-content-start">
                    <app-main-button
                        [customClass]="'orange-btn'"
                        [fontWeight]="'font-semibold'"
                        [btnText]="'hero.btn-start' |translate"
                    />
                    <app-main-button
                        [customClass]="'trans-btn'"
                        [fontWeight]="'font-semibold'"
                        [btnText]="'hero.btn-explore' |translate"
                    />
                </div>
            </div>

            <div class="hero-img col-12 lg:col-4 p-0">
                <img
                    loading="eager"
                    decoding="async"
                    src="/images/hero/Theo Vance.avif"
                    class="w-full block pt-4 object-cover"
                    alt="hero img"
                />
            </div>
        </div>
    </div>
</section>
