.modal-container {
  padding: 2rem;
  background: var(--modal-bg-color);
  border-radius: 16px;
  font-family: var(--font-1);
}

.modal-header {
  text-align: center;
  margin-bottom: 2rem;
}

.modal-title {
  color: var(--modal-title-color);
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
}

.modal-subtitle {
  color: var(--modal-title-color);
  font-size: 0.9rem;
}

.modal-content {
  margin-bottom: 2rem;
}

.modal-actions {
  display: flex;
  justify-content: center;
}

.next-button {
  background: var(--orange-500);
  border: none;
  border-radius: 50px;
  padding: 0.75rem 2rem;
  font-weight: 600;
  width: 100%;
  
  &:hover {
    background:var(--orange-500);
    border: none;
    box-shadow: 0 0.25rem 0.375rem -0.0625rem rgba(249, 115, 22, 0.3);
  }
}

 .close-button {
      background: none;
      border: none;
      color: var(--text-color);
      font-size: 1.25rem;
      cursor: pointer;
      padding: 0.25rem;
      border-radius: 50%;
      width: 2rem;
      height: 2rem;
      display: flex;
      align-items: center;
      justify-content: center;
      transition: background-color 0.3s ease;
      
      &:hover {
        background: rgba(255, 255, 255, 0.1);
      }
    }

:host ::ng-deep .p-dialog .p-dialog-header {
  border-bottom: none;
  padding: 0;
}

:host ::ng-deep .p-dialog .p-dialog-content {
  padding: 0;
}