<div id="media" class="relative">


  <img
  src="./images/details/bg-3.png"
  class="w-full"
  alt="media posture">

  <div class="media-caption flex flex-column  justify-content-end absolute top-0 bottom-0">
    @if (type() === 'class') {
      <div class="video-icon cursor-pointer flex justify-content-center items-center">
        <i class="pi pi-caret-right text-lg align-self-center"></i>
      </div>
      }
      <h3 class="media-title text-center m-0">
        pasta with meat
      </h3>

      <p class="media-desc w-9">
        Lorem ipsum dolor sit amet consectetur. Tempus volutpat ut nisi morbi. Lorem ipsum dolor sit amet consectetur. Tempus volutpat ut nisi morbi. Lorem ipsum dolor sit amet consectetur. Tempus volutpat ut nisi morbi.
      </p>
      <div class="media-summary capitalize flex justify-content-between items-center">
        <div class="summary-item flex flex-column align-items-center gap-1">
          <span class="item-number">100 k</span>
          <span class="item-text" >energy</span>
        </div>
        <div class="summary-item flex align-items-center flex-column gap-1">
          <span class="item-number">100 k</span>
          <span class="item-text" >energy</span>
        </div>
      </div>

  </div>


</div>
