#media {
    img {
        border-radius: 20px 20px 0px 0px;
    }
    .media-caption {
        padding: 0px 32px 32px 32px;
        color: var(--gray-100);
        font-family: var(--font-1);
        background: linear-gradient(180deg, rgba(0, 0, 0, 0.095) 3.06%, rgba(36, 36, 36, 0.95) 63.13%);
        h3 {
            font-weight: 500;
            font-style: Medium;
            font-size: 48px;
            letter-spacing: 0px;
            text-transform: capitalize;
        }
        .media-desc {
            font-size: 18px;
            text-transform: capitalize;
            margin: 16px 0px;
        }
        .summary-item {
            border-radius: 20px;
            border: 0.5px solid white;
            padding: 8px;
            backdrop-filter: blur(10px);
            .item-text {
                color: var(--main-color);
                font-weight: 700;
            }
        }
        .video-icon {
            width: 50px;
            height: 50px;
            margin: 0px auto;
            border-radius: 50%;

            background: radial-gradient(circle, #ff5a1f 0% 50%, #ff3c00 50% 100%);
            box-shadow: 0 0 5px 7px rgba(255, 80, 0, 0.5);
            backdrop-filter: blur(2px);
        }
    }
}
