<div
    id="media"
    class="relative"
>
    <div class="image-wrapper">
        @if (type() === 'class') {
        <img
            ngSrc="./images/details/exercise.avif"
            fill
            class="w-full"
            alt="Exercise demonstration"
            priority
            decoding="async"
        />
        } @if (type() === 'meal' && mealDetails()!.strMealThumb) {
        <img
            [ngSrc]="mealDetails()!.strMealThumb"
            fill
            class="w-full"
            [alt]="mealDetails()!.strMeal"
            decoding="async"
        />
        }
    </div>

    <div
        tabindex="0"
        (click)="openVideo()"
        (keydown)="openVideo()"
        class="media-caption flex flex-column justify-content-end absolute top-0 bottom-0"
    >
        @if (type() === 'class') {
        <div class="video-icon cursor-pointer flex justify-content-center items-center">
            <i class="pi pi-caret-right text-lg align-self-center"></i>
        </div>
        <h3 class="media-title text-center m-0">{{selectedExercise()?.exercise}}</h3>

        <p class="media-desc trunc-text">
            Lorem ipsum dolor sit amet consectetur. Tempus volutpat ut nisi morbi. Lorem ipsum dolor
            sit amet consectetur. Tempus volutpat ut nisi morbi. Lorem ipsum dolor sit amet
            consectetur. Tempus volutpat ut nisi morbi.
        </p>
        <div class="media-summary capitalize flex justify-content-between items-center">
            @for (item of classesSummary(); track $index) {
            <div class="summary-item flex flex-column align-items-center gap-1">
                <span class="item-number">{{item.itemNumber}}</span>
            </div>
            }
        </div>
        }@else {
        <h3 class="media-title text-center m-0">{{mealDetails()!.strMeal}}</h3>

        <p class="media-desc instructions trunc-text">{{mealDetails()!.strInstructions}}</p>
        <div class="media-summary capitalize flex justify-content-between items-center">
            @for (item of mealsSummary(); track $index) {
            <div class="summary-item flex flex-column align-items-center gap-1">
                <span class="item-number">{{item.itemNumber}}</span>
                <span class="item-text">{{item.itemText}}</span>
            </div>
            }
        </div>
        }
    </div>
</div>
