:host {
  display: block;
  position: fixed;
  bottom: 15px;
  right: 30px;
  z-index: 99999;
  width: auto !important;


}

:host ::ng-deep .icon {
  display: none !important;
}

:host ::ng-deep #main-btn {
  margin-top: 0px !important;
}


#bot {
  font-family: var(--font-1);
  .bot-btn {
    position: relative;
    cursor: pointer;

    &::after {
      content: '';
      display: block;
      position: absolute;
      box-shadow: 0px 0px 63.92px 31px #FF4100;
      width: 15px;
      height: 15px;
      z-index: -5;

    }
    img {
      width: 120px !important ;
    }
  }

  .chat-nav {
    h3 {
      font-family: var(--font-1);
      font-weight: 700;
      font-style: Bold;
      font-size: 24px;
      color: var(--white);
    }

  }


  .chat-box {
      i {
      color: #FF4100 !important;
    }
    transition: all 0.3s;
    &.active {

      height: 450px;
      width: 300px;
      border: 2px solid #FF4100;
      overflow: visible;
      padding: 25px 16px;
    }

    overflow: hidden;
    height: 0px;
    width: 0px;
    padding: 0;
    border: 0;
    border-radius: 20px;
    margin-top: 10px;
    filter: blur(12.5px);
    background-image:
    linear-gradient(#1a1a1a80, #1a1a1a80),
    url("/images/bot/bg.jpg");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .chat-input {
    i.edit {
      left: 12px;
    top: 50%;
    transform: translateY(-53%);
    font-size: 14px;
    }
    input {

      border-radius: 20px;
      border:1px solid white;
      padding:6px 33px;
      background: transparent;
      color: white;
      width: 100%;
      &::placeholder {
        text-transform: capitalize;
        color: #D3D3D3;
      }

    }
  }






}

