<div id="ingradients">

  <h3 class="capitalize" >ingredients</h3>
  <div class="ingradient-items grid justify-content-between">
    <div class="ing-item lg:col-5 md:col-6 col-12  flex justify-content-between">
      <span class="ing-text">Meal Breasts</span>
      <span class="ing-amount">250g</span>
    </div>
    <div class="ing-item lg:col-5 md:col-6 col-12  flex justify-content-between">
      <span class="ing-text">Meal Breasts</span>
      <span class="ing-amount">250g</span>
    </div>
    <div class="ing-item lg:col-5 md:col-6 col-12  flex justify-content-between">
      <span class="ing-text">Meal Breasts</span>
      <span class="ing-amount">250g</span>
    </div>

  </div>


</div>
