#ingradients {
    font-family: var(--font-1);
    font-weight: 600;
    .ingradient-items {
        background: var(--details-bg);
        padding: 16px 8px;
        border-radius: 20px;
        .ing-item {
            border-bottom: 1.7px solid var(--ingradients-border-color);
        }
    }
    h3 {
        font-size: 32px;
    }
    .ing-text,
    h3 {
        color: var(--ingradients-text-color);
    }
    .ing-text {
        text-transform: capitalize;
    }
    .ing-amount {
        color: var(--main-color);
    }
}
