.about-layout {
  //margin-bottom: 2.5rem;
  padding: 1.5rem 1rem;
  color: var(--text-color);
  font-family: var(--font-1);
  background: var(--section-bg);
  backdrop-filter: blur(86px);
  @media all and (min-width: 48rem) {
    padding: 5rem 2.5rem;
    gap: 5rem;
  }
  @media all and (62rem <= width <= 78.125rem) {
    gap: 3rem;
  }
  figure {
    margin: 0 0 30px 0;
    padding: 0;
    @media all and (min-width: 62rem) {
      margin: 0;
    }
    @media all and (62rem <= width <= 78.125rem) {
      align-self: center;
      display: flex;
      justify-content: space-evenly;
      align-items: center;
    }
    img {
      border-radius: 1.125rem;
    }
    .trainer-3 {
      width: 12.6875rem;
      height: 19.25rem;
      @media all and (min-width: 37.5rem) {
        width: 15rem;
        height: 23rem;
      }
      @media all and (min-width: 48rem) {
        width: 22.375rem;
        height: 33.875rem;
      }
      @media all and (62rem <= width <= 74.9375rem) {
        width: 14rem;
        height: 18rem;
      }
    }
    .trainer-1 {
      position: absolute;
      width: 12.5313rem;
      height: 16.0625rem;
      top: 10.2275rem;
      left: 8.7719rem;
      @media all and (min-width: 37.5rem) {
        width: 14rem;
        height: 18rem;
        top: 11.5rem;
        left: 9.25rem;
      }
      @media all and (min-width: 48rem) {
        width: 22.0625rem;
        height: 28.25rem;
        top: 18rem;
        left: 15.4375rem;
      }
      @media all and (62rem <= width <= 74.9375rem) {
        width: 14rem;
        height: 18rem;
        position: static;
      }
    }
    .trainer-2 {
      position: absolute;
      width: 7.875rem;
      height: 6.6875rem;
      top: 2.8413rem;
      left: 13.4238rem;
      @media all and (min-width: 37.5rem) {
        width: 8.75rem;
        height: 7rem;
        top: 3.5rem;
        left: 15.625rem;
      }
      @media all and (min-width: 48rem) {
        width: 13.875rem;
        height: 11.75rem;
        top: 5rem;
        left: 23.625rem;
      }
      @media all and (62rem <= width <= 74.9375rem) {
        width: 14rem;
        height: 18rem;
        position: static;
      }
    }
  }
  figure,
  .article {
    @media all and (min-width: 74.9375rem) {
      flex-grow: 1;
      flex-basis: 0;
    }
  }
  .article {
    gap: 4rem;
    .p-vision {
      font-family: var(--font-2);
      font-weight: 400;
      font-size: 1.125rem;
      line-height: 1.8rem;
      margin: 1.5rem 0 4rem 0;
    }
    .icon {
      width: 1.1062rem;
      height: 1.0625rem;
      margin-right: 1rem;
      image-rendering: -webkit-optimize-contrast;
      image-rendering: crisp-edges;
    }
    li {
      margin: 0;
    }
    .service-header {
      font-weight: 700;
      font-size: 1.025rem;
      line-height: 1.5rem;
      margin: 0 0 1rem 0;
      @media all and (max-width: 36rem) {
        margin-top: 1.5rem;
      }
    }
    .service-p {
      font-weight: 400;
      font-size: 1.125rem;
      line-height: 1.8rem;
      margin: 0;
      @media all and (36rem <= width <= 48rem) {
        font-size: 1rem;
      }
    }
    .line-break {
      width: 100%;
      height: 0.0625rem;
      background: var(--line-break-bg);
      margin: 2rem 0;
    }
  }
}
