<div class="register-container flex flex-column">
  <h2 class="title">Create Account</h2>

  <form [formGroup]="registerForm" (ngSubmit)="submit()" class="flex flex-column gap-3">
    <!-- First Name -->
    <lib-fitness-input
      formControlName="firstName"
      [errorHandilgControl]="registerForm.get('firstName')!"
      placeholder="Enter your first name"
      type="text"
      id="firstName"
    ></lib-fitness-input>

    <!-- Email -->
    <lib-fitness-input
      formControlName="email"
      [errorHandilgControl]="registerForm.get('email')!"
      placeholder="Enter your email"
      type="email"
      id="email"
    ></lib-fitness-input>

    <!-- Password -->
    <lib-fitness-input
      formControlName="password"
      [errorHandilgControl]="registerForm.get('password')!"
      placeholder="Enter your password"
      type="password"
      id="password"
    ></lib-fitness-input>

    <div>
      <lib-fitness-input-gender (genderChange)="onGenderChange($event)"></lib-fitness-input-gender>
    </div>

    <div class="flex justify-content-center">
      <lib-fitness-input-slider unit="kg" (weightChange)="onWeightChanged($event)"></lib-fitness-input-slider>
    </div>

    <div>
      <lib-fitness-form-radio
        [config]="radioConfig"
        (selectedItemChange)="onActivityLevelChanged($event)"
      ></lib-fitness-form-radio>
    </div>

    <button type="submit" class="submit-btn">Register</button>
  </form>

</div>
