<div class="register-container">
    @if (step() > 0) {
    <app-progress-circle
        [current]="step()"
        [total]="6"
    ></app-progress-circle>
    } @switch (step()) { @case (0) {
    <app-basic-data></app-basic-data>
    } @case (1) {
    <app-select-gender></app-select-gender>
    } @case (2) {
    <app-select-old></app-select-old>
    } @case (3) {
    <app-select-weight></app-select-weight>
    } @case (4) {
    <app-select-height></app-select-height>
    } @case (5) {
    <app-select-goal></app-select-goal>
    } @case (6) {
    <app-select-activity-level></app-select-activity-level>

    } }
    <div class="button-group">
        @if (step() > 0) {
        <button
            class="back-btn"
            (click)="back()"
        >
            {{ 'register.selectWeight.back' | translate }}
        </button>
        }
        <button
            class="next-btn"
            (click)="next()"
            [disabled]="isLoading()"
        >
            @if (isLoading()) {
            <i class="pi pi-spin pi-spinner"></i>
            } {{ 'register.selectWeight.next' | translate }}
        </button>
    </div>
</div>
