.bot-body {
    position: fixed;
    right: 0;
    bottom: 50%;
    z-index: 9999;
    transform: translate(-50%, 0);
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: transparent;
    filter: drop-shadow(0px 0px 15px var(--orange-500));
    .chat-btn {
        opacity: 1;
        border-radius: 2.3569rem;
        padding: 0.3125rem 1.0625rem;
        background-color: var(--orange-500);
        font-weight: 700;
        font-size: 1.2363rem;
        color: var(--white);
        border: none;
    }

    @media (max-width: 768px) {
        img {
            width: 8rem;
        }
        .chat-btn {
            font-size: 0.8rem;
            padding: 0.25rem 0.5rem;
        }
    }
}
