<!-- eslint-disable @angular-eslint/template/interactive-supports-focus -->
<!-- eslint-disable @angular-eslint/template/click-events-have-key-events -->
<div
    class="nav-tabs-container"
    [class]="{
        'dafault-margin': !isInPanel(),
        'panel-margin': isInPanel()
        }"
>
    <ul class="nav-tabs">
        @if (navItems()!.length > 0) { @for (item of navItems(); track $index) {
        <li>
            <span
                [class]="{
                  'active':item.isActive
                }"
                (click)="itemClickEmit($event , item)"
            >
                {{item.name}}
            </span>
        </li>
        } }@else { @for (item of makeArr(13); track $index) {
        <li>
            <p-skeleton
                height="1rem"
                width="5rem"
                class="mb-2"
            />
        </li>
        } }
    </ul>
</div>
