.dafault-margin {
    margin: 0 auto 32px;
}
.panel-margin {
    margin: 0 auto;
}
.nav-tabs-container {
    width: 80%;
    overflow-x: auto;
    overflow-y: hidden;

    &::-webkit-scrollbar {
        height: 4px;
    }

    &::-webkit-scrollbar-track {
        background: var(--panel-scrollbar-track);
        border-radius: 2px;
    }

    &::-webkit-scrollbar-thumb {
        background: var(--panel-scrollbar-thumb);
        border-radius: 2px;

        &:hover {
            background: var(--orange-500);
        }
    }
    .nav-tabs {
        list-style: none;
        padding: 0;
        margin: 0;
        width: max-content; // Important for horizontal scroll
        min-width: 100%;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 15px;
        margin: 32px 0px;
        li {
            flex-shrink: 0;
        }
        li span {
            font-family: var(--font-1);
            text-decoration: none;
            color: var(--text-color);
            font-size: 18px;
            text-transform: capitalize;
            font-weight: 700;
            padding: 5px 10px;
            border-radius: 20px;
            cursor: pointer;
            transition: all 0.3s;
            white-space: nowrap;
            &.active {
                background-color: var(--main-color);
                color: white !important;
            }
        }
    }
}
