@use './app/shared/styles/_utilities' as utl;
@use './app/shared/styles/_variables' as vars;

body,
html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    background-color: var(--body);
}

.sec-gradient {
    background: linear-gradient(to bottom, var(--sec-grad-color) 0% 75%, transparent 70% 100%);
}

.container {
    max-width: 90%;
    margin: auto;
}
