@use './app/shared/styles/_utilities' as utl;
@use './app/shared/styles/_variables' as vars;

body,
html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    background-color: var(--body);
}

html {
    scrollbar-color: var(--panel-scrollbar-thumb) transparent;
    scrollbar-width: thin; // for Firefox fallback
}
/* width */
html::-webkit-scrollbar {
    width: 8px;
}

/* track */
html::-webkit-scrollbar-track {
    background: transparent;
}

/* thumb */
html::-webkit-scrollbar-thumb {
    background-color: var(--panel-scrollbar-thumb);
    border-radius: 2px;
}

/* hover */
html::-webkit-scrollbar-thumb:hover {
    background-color: var(--orange-500) !important;
}

.sec-gradient.at-home {
    background: linear-gradient(to bottom, var(--sec-grad-color) 0% 75%, transparent 70% 100%);
}
.sec-gradient {
    position: relative;
    z-index: 1;
    &.main .sec-long-desc {
        color: var(--gray-100);
    }
}

.app-section {
    background-image: url('/images/details/bg-2.avif');
    background-position: center center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    position: relative;
    &::before {
        content: '';
        position: absolute;
        display: block;
        inset: 0;
        backdrop-filter: blur(64px);
        background: #24242499;
    }
}

.container {
    max-width: 90%;
    margin: auto;
}

.auth-btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 0.5rem;
    padding: 0.5rem 1rem;
    border-radius: 1.25rem;
    background-color: var(--orange-500);
    color: var(--white);
    border: none;
    cursor: pointer;
    font-family: var(--font-1);
    font-weight: 800;
    transition: background-color 0.3s ease;

    &.invalid {
        background-color: var(--gray-300);
        cursor: not-allowed;
    }

    &:disabled {
        cursor: not-allowed;
    }
}
