@use './app/shared/styles/_utilities' as utl;
@use './app/shared/styles/_variables' as vars;

body,
html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    background-color: var(--body);
}

.sec-gradient {
    background: linear-gradient(to bottom, var(--sec-grad-color) 0% 75%, transparent 70% 100%);
}

.container {
    max-width: 90%;
    margin: auto;
}

.auth-btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 8px;
    padding: 8px 16px;
    border-radius: 20px;
    background-color: var(--orange-500);
    color: #fff;
    border: none;
    cursor: pointer;
    font-family: var(--font-2);
}
