:root {
  // Fonts
  --font-1: 'Baloo Thambi 2', system-ui;
  --font-2: 'Rubik', sans-serif;
  --font-3: 'Inter', sans-serif;
  --font-4: "Rubik", sans-serif;
;

  // Light Theme Colors

  --white-90: #ffffff99;
  --white-95: #fffffff2;
  --white: #ffffff;
  --black: #000000;

  --gray-100: #f3f3f4;
  --gray-200: #d9d9d9;
  --gray-300: #d3d3d3;
  --gray-900: #242424;
  --gray-950: #232526;
  --gray-100-14: #f3f3f424;
  --gray-900-14: #24242424;
  --gray-900-60: #24242499;

  --orange-500: #ff4100;
  --gradient-70:#B4B3B1;


  //meals and workouts shared
  --main-color:var(--orange-500);
  --text-color:var(--gray-900);
  --sec-grad-color:var(--gradient-70)


}

html.dark {
  --gradient-70:#232425;
    //meals and workouts shared
  --text-color:var(--white)
  --sec-grad-bg:var(--gradient-70)

  // About-Us
  --section-bg: var(--white-95);
  --text-color: var(--gray-900);
  --line-break-bg: var(--gray-900-14);
}
