<div id="legends" class="grid justify-content-between">
  <div class="legend-item md:col-6 lg:col-4  col-12  flex align-items-center gap-2">
    <div class="icon">
      <i class="pi pi-arrow-right"></i>
    </div>
    <p class="my-0">
      Expertly designed workout.
    </p>
  </div>
  <div class="legend-item flex lg:col-4 md:col-6 col-12 align-items-center gap-2">
    <div class="icon">
      <i class="pi pi-arrow-right"></i>
    </div>
    <p class="my-0">
      Expertly designed workout.
    </p>
  </div>
  <div class="legend-item flex lg:col-4 md:col-6 col-12 align-items-center gap-2">
    <div class="icon">
      <i class="pi pi-arrow-right"></i>
    </div>
    <p class="my-0">
      Expertly designed workout.
    </p>
  </div>
</div>
