<div id="legends" class="flex gap-2 justify-content-between">
  <div class="legend-item flex align-items-center gap-2">
    <div class="icon">
      <i class="pi pi-arrow-right"></i>
    </div>
    <p class="my-0">
      Expertly designed workout.
    </p>
  </div>
  <div class="legend-item flex align-items-center gap-2">
    <div class="icon">
      <i class="pi pi-arrow-right"></i>
    </div>
    <p class="my-0">
      Expertly designed workout.
    </p>
  </div>
  <div class="legend-item flex align-items-center gap-2">
    <div class="icon">
      <i class="pi pi-arrow-right"></i>
    </div>
    <p class="my-0">
      Expertly designed workout.
    </p>
  </div>
</div>
