#details {
    min-height: 100vh;
    position: relative;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 120px 25px 50px;
    &::before {
        content: '';
        position: absolute;
        width: 0;
        height: 0;
        overflow: hidden;
    }
    @media all and (min-width: 48rem) {
        padding: 100px 80px 50px;
    }
    @media all and (62rem <= width <= 75.625rem) {
        padding: 120px 25px 50px;
    }

    .blur-overlay {
        backdrop-filter: blur(86px);
        position: absolute;
        inset: 0;
        z-index: 1;
        background: var(--details-bg);
    }

    .details-container {
        position: relative;
        z-index: 2;
        margin: 0;
        .title-img {
            position: absolute;
            top: -26px;
            inset-inline-start: 50%;
            transform: translateX(-50%);
            z-index: 1;
            width: 230px;
            @media all and (min-width: 62rem) {
                inset-inline-start: 40%;
                transform: translateX(0%);
                width: 330px;
            }
        }
        .content {
            position: relative;
            z-index: 2;
        }
    }
}
