<section
    id="details"
    [style.backgroundImage]="'url(./images/details/bg-2.avif)'"
    class="py-3"
>
    <div class="blur-overlay"></div>
    <div class="container">
        <div class="content grid">
            <app-panel class="col-4" />
            <div class="video-wrapper col-8">
                <div class="flex flex-column gap-4">
                    <div class="media-container">
                      <app-media-container />
                    </div>
                    <div class="legends">
                      <app-workout-legends />
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
