<section
    id="details"
    [style.backgroundImage]="'url(./images/details/bg-2.avif)'"
    class="py-5"
>
    <div class="blur-overlay"></div>
    <!-- <img
        class="workouts-img"
        [src]="cat() === 'classes' ? './images/workouts/WOrkouts.png':'./images/meals/Healthy.png'"
        alt="workouts"
    /> -->
    <div class="details-container">
        @if (cat() === 'classes') {
        <app-nav-tabs [navItems]="workout_muscles()" />
        }
        <div class="content grid">
            <app-panel
                [panelID]="id()"
                [panelType]="cat()"
                class="col-4 align-items-center"
            />

            <div class="video-wrapper col-8">
                <div class="flex flex-column gap-4">
                    <div class="media-container">
                        <app-media-container
                            [type]="cat() === 'meals'?'meal':'class'"
                            [selectedExercise]="selectedExercise()!"
                            [selectedMeal]="selectedMeal()!"
                        />
                    </div>
                    @if (cat()==="classes") {
                    <div class="legends">
                        <app-workout-legends />
                    </div>
                    } @if (cat()==="meals") {

                    <div class="ingradients">
                        <app-ingradients />
                    </div>
                    } @if (cat()==="classes") {
                    <div class="recomendations">
                        <app-recomendation />
                    </div>
                    }
                </div>
            </div>
        </div>
    </div>
</section>
