#details {
    min-height: 100vh;
    background: #24242499;
    position: relative;
    overflow: hidden;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    &::before {
        content: '';
        position: absolute;
        width: 0;
        height: 0;
        overflow: hidden;
        // Preload LCP image
        background-image: url('/images/details/bg-2.avif');
    }

    .blur-overlay {
        backdrop-filter: blur(86px);
        position: absolute;
        inset: 0;
        z-index: 1;
        background: #24242499;
    }

    .container {
        position: relative;
        z-index: 2;
    }
}
