#main-btn {
  button {
    font-family: var(--font-4);
    
    outline: 0;
    padding: 12px 18px;
    border-radius: 16px;
    text-transform: capitalize;
    font-weight: 700;

  }
  .icon {
    width: 36px;
    height: 36px;
    background-color: var(--main-color);
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2.12px solid #F3F3F4;
    border-radius: 50%;
    position: absolute;
    right: -23px;
    top: 0;


  }
}
