#main-btn {
    button {
        font-family: var(--font-2);
        border: 0;
        outline: 0;
        text-transform: capitalize;
        cursor: pointer;
    }
    .icon {
        width: 25px;
        height: 25px;
        background-color: var(--main-color);
        display: flex;
        justify-content: center;
        align-items: center;
        border: 2.12px solid #f3f3f4;
        border-radius: 50%;
        position: absolute;
        inset-inline-end: -18px;
        top: 7px;
    }
    .login-btn {
        padding: 0.5rem 1rem;
        border-radius: 1.25rem;
        background-color: var(--main-color);
        color: var(--gray-100);
        transition: all 1s ease;
    }
    .sign-up-btn {
        padding: 0.5rem 1rem;
        border-radius: 1.25rem;
        background-color: transparent;
        border: 1px solid var(--orange-500);
        color: var(--orange-500);
        transition: all 1s ease;
    }
    .orange-btn {
        padding: 0.625rem 1.125rem;
        border-radius: 6.25rem;
        background-color: var(--main-color);
        color: var(--gray-100);
        transition: all 1s ease;
    }
    .trans-btn {
        padding: 0.625rem 1.125rem;
        border-radius: 6.25rem;
        border: 1px solid var(--orange-500);
        background-color: transparent;
        color: var(--orange-500);
        transition: all 1s ease;
    }

    .login-btn:hover,
    .orange-btn:hover {
        border: 1px solid var(--orange-500);
        background-color: transparent;
        color: var(--orange-500);
    }

    .sign-up-btn:hover,
    .trans-btn:hover {
        background-color: var(--main-color);
        color: var(--gray-100);
    }
}
