.section-title {
    position: relative;
    top: 12px;
    // .sec-title {
    //     // border: 1px solid;

    //     // border-image-source: linear-gradient(177.84deg, rgba(36, 36, 36, 0.5) -10.01%, rgba(255, 255, 255, 0.5) 73.16%);
    //     background: linear-gradient(177.84deg, rgba(36, 36, 36, 0.5) -10.01%, rgba(255, 255, 255, 0.5) 73.16%);
    // }
    .overlay {
        position: absolute;
        bottom: 0;
        top: 50%;
        left: 0;
        right: 0;
        opacity: 0.1;
        //background: linear-gradient(177.84deg, rgba(36, 36, 36, 0.5) -10.01%, rgba(255, 255, 255, 0.5) 73.16%);
    }
    .sub-title {
        font-family: var(--font-3);
        color: var(--main-color);
        font-size: 13px;
        font-weight: 600;
        display: flex;
        align-items: center;
        position: absolute;
        width: 100%;
        bottom: 6px;
    }
    .dumble {
        width: 1.875rem;
        height: 1.2106rem;
        img {
            width: 100%;
            height: auto;
            display: block;
            object-fit: cover;
        }
    }
}
