.section-title {
  position: relative;
  top: 12px;
  .sub-title {
    font-family: var(--font-3);
    color: var(--main-color);
    font-size: 13px;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 100%;
    bottom: 6px;

  }
}
