<div class="modal-container">
  <div class="modal-header">
    <div class="header-content">
      <h2 class="modal-title">{{ 'ACCOUNT.MODALS.CHANGE_PASSWORD.TITLE' | translate }}</h2>
      <p class="modal-subtitle">{{ 'ACCOUNT.MODALS.CHANGE_PASSWORD.SUBTITLE' | translate }}</p>
    </div>
    <button class="close-button" (click)="close()">
      <i class="pi pi-times"></i>
    </button>
  </div>
  
  <form [formGroup]="passwordForm" class="modal-content">
    <div class="input-group">
      <lib-fitness-input
        [id]="'oldPassword'"
        [type]="'password'"
        [labelText]="'ACCOUNT.MODALS.CHANGE_PASSWORD.CURRENT_PASSWORD' | translate"
        [placeholder]="'ACCOUNT.MODALS.CHANGE_PASSWORD.CURRENT_PASSWORD_PLACEHOLDER' | translate"
        formControlName="oldPassword"
        [errorHandilgControl]="oldPasswordControl"
      />
    </div>

    <div class="input-group">
       <lib-fitness-input
        [id]="'newPassword'"
        [type]="'password'"
        [labelText]="'ACCOUNT.MODALS.CHANGE_PASSWORD.NEW_PASSWORD' | translate"
        [placeholder]="'ACCOUNT.MODALS.CHANGE_PASSWORD.NEW_PASSWORD_PLACEHOLDER' | translate"
        formControlName="newPassword"
        [errorHandilgControl]="newPasswordControl"
      />
      <small class="hint-text">{{ 'ACCOUNT.MODALS.CHANGE_PASSWORD.PASSWORD_HINT' | translate }}</small>
    </div>
  </form>
  
  <div class="modal-actions">
    <button 
      pButton 
      class="cancel-button"
      (click)="close()"
      [label]="'ACCOUNT.MODALS.CHANGE_PASSWORD.CANCEL' | translate"
    ></button>
    <button 
      pButton 
      class="submit-button"
      (click)="submit()"
      [disabled]="passwordForm.invalid"
      [label]="'ACCOUNT.MODALS.CHANGE_PASSWORD.CHANGE_BUTTON' | translate"
    ></button>
  </div>
</div>